/*
    Theme Name: MAIN THEME
    Theme URI: http://www.somesite.com/
    Author: Mr. Hand
    Description: This is the main theme.
    Version: 1.0
    License: Private
    License URI: http://www.somesite.com/license/
*/

#wrapper {
   max-width: 1200px;
   width: 95%;
   margin: 0 auto;
}

#header, #main, #footer {
   width: 100%;
}

#content {
   width: 65%;
   float: left;
}

#sidebar {
   width: 35%;
   float: left;
}

#footer {
   clear: both;
}